{% extends 'base.html' %}
{% block content %}
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightgray;
  color: black;
}
</style>


<div style="padding: 20px; background-color: #f5f5f5;max-height:90vh;overflow-y:auto;">
  <div style="background: white; padding: 20px; border-radius: 8px; box-shadow: 0 2px 4px ;gap:15px;
                    margin-top:10px;margin-right:10px;margin-left:10px;">
    <div>
      <h3 style="0 0 20px 0; font-size: 18px;">Projects</h3>
    </div>
    <div style="display:flex;justify-content: space-between;">
                <div STYLE="display:flex; justify-content:400px;gap:20px;">
                    <div>
                    <select id="rows">
                        <option value="5" selected>5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50" >50</option>
                        <option value="100">100</option>
                    </select>
                    </div>
                    <div>
                        <i class="fa-solid fa-eye-slash"></i>
                    </div>
                </div>
                <div>
                    <select id="label_rows"style="height: 30px;">
                        <option value="5" selected>-Label-</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50" >50</option>
                        <option value="100">100</option>
                    </select>

                    <select id="deadline_rows"style="height: 30px;">
                        <option value="5" selected>-Deadline-</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50" >50</option>
                        <option value="100">100</option>
                    </select>

                    <select id="status_rows"style="height: 30px;">
                        <option value="5" selected>-Status-</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50" >50</option>
                        <option value="100">100</option>
                    </select>
                    <button style=" color: black; border: none; padding: 8px 16px; border-radius: 4px; cursor: pointer;height: 30px;">
                        <i class="fa-solid fa-file-excel"></i>
                        Excel
                    </button>
                    <button style=" color: black; border: none; padding: 8px 16px; border-radius: 4px; cursor: pointer;height: 30px;">
                        <i class="fa-solid fa-print"></i>
                        Print
                    </button>
                    <button style=" color: black; border: none; padding: 8px 16px; border-radius: 4px; cursor: pointer;height: 30px;">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        Search
                    </button>
                </div>
            </div>

            <div style="margin-top:20px;">
                <table id="customers">
                    <tr>
                      <th>ID</th>
                      <th>Title</th>
                      <th>Client</th>
                      <th>Start Date</th>
                      <th>Deadline</th>
                      <th>Progress</th>
                      <th>Status</th>
                    </tr>
                    <tr>
                        <td>{{id}}</td>
                        <td>{{title}}</td>
                    </tr>
                </table>
            </div>
  </div>
</div>

{% endblock %}